header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: orange;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6600), to(orange));
  background: -webkit-linear-gradient(top, orange, #ff6600);
  background: -moz-linear-gradient(top, orange, #ff6600);
  background: -ms-linear-gradient(top, orange, #ff6600);
  background: -o-linear-gradient(top, orange, #ff6600);
  height: 32px;
}

#header_content {
  width: 800px;
  height: 24px;
  padding: 4px 0 4px 0;
  margin: 0 auto 0 auto;
  border: 0px solid black;
}

#title {
  float: left;
  color: white;
}

#title a, #title a:visited, #title a:hover {
  color: white;
  text-decoration: none;
}

#title a:hover {
  text-decoration: underline;
}

#logout {
  float: right;
  color: white;
  font-size: 14px;
}

#logout a, a:visited, a:hover {
  text-decoration: none;
  color: white;
}

#logout a:hover {
  text-decoration: underline;
}

.container {
  margin: 32px auto;
  width: 800px;
  padding: 32px 20px 20px 20px;
  /*border: 1px dotted black;*/
  overflow: hidden;
}

#sidebar {
  width: 198px;
  min-height: 300px;
  padding: 0;
  margin: 0 24px 0 0;
  border: 1px solid #aaa;
  text-align: center;
  color: #444;
  border-radius: 16px;
  overflow: hidden;
  background-color: none;
}

#sidebar p {
  margin: 0;
  padding: 8px 0 8px 0;
/*
  border-bottom: 1px solid #aaa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#eee));
  background: -webkit-linear-gradient(top, #eee, #bbb);
  background: -moz-linear-gradient(top, #eee, #bbb);
  background: -ms-linear-gradient(top, #eee, #bbb);
  background: -o-linear-gradient(top, #eee, #bbb);
*/
}

/*
#sidebar p:nth-of-type(2) {
  border-top: 1px solid #aaa;
}
*/
#sidebar form {
  margin: 4px 0 48px 0;
}

#sidebar input {
  margin: 8px 0 0 0;
  width: 154px;
  padding: 0 0 0 4px;
  height: 24px;
  font-size: 14px;
  border: none;
  border: 1px solid #ccc;
  outline: none;
}

#sidebar input:focus {
  border: 1px solid #ff6600;
}

#sidebar input.submit {
  margin: 8px 0 0 0;
  padding: 0;
  width: 160px;
  height: 24px;
  border: 1px solid #ccc;
/*
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#eee));
  background: -webkit-linear-gradient(top, #eee, #bbb);
  background: -moz-linear-gradient(top, #eee, #bbb);
  background: -ms-linear-gradient(top, #eee, #bbb);
  background: -o-linear-gradient(top, #eee, #bbb);
*/
  color: #666;
  background-color: #ddd;
}

#sidebar input.submit:hover {
  color: #ff6600;
}

#login_errors {
  font-size: 12px;
  color: #ff6600;
  text-align: left;
  padding: 0 20px 0 20px;
}

#registration_errors {
  font-size: 12px;
  color: #ff6600;
  text-align: left;
  padding: 0 20px 0 20px;
}

#main {
  /*background-color: #eee;*/
  min-height: 300px;
  float: right;
  width: 560px;
  padding: 0;
  margin: 0 0 0 4px;
}

#main p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #aaa;
}

.post_wrap {
  width: 580px;
  overflow: hidden;
  margin: 0 0 24px 0;
  color: #444;
 }

.post_wrap h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.post_wrap h3 a, .post_wrap h3 a:visited, .post_wrap h3 a:hover {
  color: #666;
  text-decoration: none;
}

.post_wrap h3 a:hover {
  color: #ff6600;
}

.url {
  margin-top: 16px;
  font-size: 14px;
}

.post_wrap div.url a, .post_wrap div.url a:visited, .post_wrap div.url a:hover{
  color: #ff6600;
  text-decoration: none;
}

.comments_wrapper {
  margin-top: 48px;
  width: 580px;
  border: 0px solid black;
}

.comments_wrapper h3 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 16px;
  color: #444;
}

.comment_wrap {
  margin-bottom: 40px;
  color: #444;
}

.comment_wrap a, .comment_wrap a:visited, .comment_wrap a:hover {
  text-decoration: none;
  color: #444;
}

.comment_wrap a:hover {
  color: #ff6600;
}

#main div.comment_wrap p {
  color: #444;
}

#main div.comment_wrap p.comment_datetime {
  margin: 0 auto 8px auto;
  /*text-align: center;*/
  font-size: 10px;
  color: #aaa;
}

#sidebar form textarea {
  outline: none;
  padding: 4px;
  font-size: 14px;
  width: 152px;
  height: 192px;
  border: 1px solid #ccc;
  resize: none;
}

#sidebar textarea:focus {
  border: 1px solid #ff6600;
}

.comments_wrapper a, .comments_wrapper a:hover, .comments_wrapper a:visited {
  color: #444;
  text-decoration: none;
}

.comments_wrapper a:hover{
  color: #ff6600;
}

.post_wrap a, .post_wrap a:visited, .post_wrap a:hover {
  color: #aaa;
  text-decoration: none;
}

.post_wrap a:hover{
  color: #ff6600;
}
